<div class="read-more">
  <div class="read-more-header">
    <a href="{{ site.owner.site }}" class="read-more-btn">Sobre o autor</a>
  </div><!-- /.read-more-header -->
  <div class="read-more-content author-info">
    <h3>{{author2.display_name}}</h3>
    <div class="author-container">
      <img class="author-img" src="{{site.url}}/{{author2.avatar}}" alt="{{author2.display_name}}" />
      <div class="author-bio">{{author2.bio}}</div>
    </div>
    <div class="author-share">
      <ul class="list-inline social-buttons">
        {% for network in site.social %}
          <li><a href="{{ network.url }}" target="_blank"><i class="fa fa-{{ network.title }} fa-fw"></i></a></li>
        {% endfor %}
      </ul>
      {% if author2.github %}
        <a aria-label="Follow @{{author2.github}} on GitHub" data-style="mega" href="https://github.com/{{author2.github}}" class="github-button">Follow @{{author2.github}}</a>
      {% endif %}
      <br>
      {% if author2.twitter %}
        <a href="https://twitter.com/{{author2.twitter}}" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @{{author2.twitter}}</a>
      {% endif %}
    </div>
  </div>
</div>
